RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_LOGIN=admin
RABBIT_PASS=password

JOB_REPOSITORY_BACKEND=postgres
DATABASE_URL=postgresql+psycopg://mapreduce:mapreduce_password@localhost:5432/mapreduce

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET=mapreduce-data
